/*Easter egg*/
.confetti {
    position: fixed;
    top: -10px;
    opacity: 0.9;
    z-index: 9999;
    animation-name: fall;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes fall {
    to {
        transform: translateY(100vh) rotate(720deg);
    }
}

.easter-egg-message {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    padding: 1rem 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
    z-index: 99999;
    animation: fadeinout 2.5s ease forwards;
}

@keyframes fadeinout {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }

    10% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
}

/*Easter egg*/